# Archivos compilados
target/

# Archivos de IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Archivos de logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración local de Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Variables de entorno o configuración sensible
*.env
application-local.properties
application-local.yml